@import "styling/partials/colors";
@import "styling/partials/typography";
@import "styling/partials/border";
@import 'styling/partials/mediaQueries.scss';
// importing sass partials


// basic element styling incorporating mixin includes
body {
    background-color: $baseBackgroundColor;
    overflow-x: hidden;
}

h2 {
    @include primaryFontStyle;
}

h1 {
    @include pageHeading;
}

p {
    @include introFont;
}

// styling on dc charts, selectors and their  containers + intro to flexbox
.graphDiv {
    @include primaryBorder;
    background-color: $divBackground;
    text-align: center;
    flex-basis: 25%;
    margin: 10px;
    padding: 5px;
}

.selectorContainer {
    display: flex;
    flex-direction: column;
}

.graphContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.introDiv {
    order: 1;
    flex: 1;
}

.genderBar {
    order: 2;
    flex: 1;
}

.ageScatter {
    order: 3;
    flex: 2;
}


.graphContainerTwo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.maritalStacked {
    order: 1;
    flex: 1;

}

.payBar {
    order: 3;
    flex: 1;

}

.jobStacked {
    order: 3;
    flex: 2;

}

.employmentPie {
    order: 4;
    flex: 1;

}

