@import "styling/partials/colors";
@import "styling/partials/typography";
@import "styling/partials/border";

body {
    background-color: $baseBackgroundColor;
    overflow-x: hidden;
    margin: 0 auto;
    text-align: center;
    width: 98%;
}

h2 {
    @include primaryFontStyle;
}

h1 {
    @include pageHeading;
}

div {
    text-align: center;
    padding: 4px;
}

.graphDiv {
    @include primaryBorder;
    background-color: $divBackground;
    text-align: center;
    padding: 4px;
}
