@import "styling/partials/colors";
@import "styling/partials/typography";
@import "styling/partials/border";
@import 'styling/partials/mediaQueries.scss';
// importing sass partials
// basic element styling incorporating mixin includes
body {
    background-color: $baseBackgroundColor;
    overflow-x: hidden;
}

h2 {
    @include primaryFontStyle;
}

h1 {
    @include pageHeading;
}

p {
    @include introFont;
}
h3 {
    @include description;
}

// styling on dc charts, selectors and their  containers + intro to flexbox
.graphDiv {
    @include primaryBorder;
    background-color: $divBackground;
    text-align: center;
    flex-basis: 25%;
    margin: 10px;
    padding: 5px;
}

.selectorContainer {
    display: flex;
    flex-direction: column;
}

.graphContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.introDiv {
    order: 1;
    flex: 1;
}

.genderBar {
    order: 2;
    flex: 1;
}
.employmentPie {
    order: 3;
    flex: 1;

}

.graphContainerTwo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.maritalStacked {
    order: 1;
    flex: 1;

}
.ageScatter {
    order: 2;
    flex: 2;
}

.jobStacked {
    order: 3;
    flex: 1;

}




// media query styling
// basic page and typography styling 
body {
    @include smartphone {
        text-align: center;
    }
    @include smartphoneMedium {
        text-align: center;
    }
    @include smartphoneLarge {
        text-align: center;
    }
}

h1 {
    @include smartphone {
        font-size: 190%;
    }
}

// styling charts & their containers
.graphDiv {
    @include smartphone {
        padding: 3px;
        overflow-x: scroll;
        width: 90%;
    }
    @include smartphoneMedium {
        padding: 3px;
        overflow-x: scroll;
        width: 90%;
    }
    @include smartphoneLarge {
        padding: 3px;
        overflow-x: scroll;
        width: 90%;
    }
}

.graphContainer {
    @include smartphone {
        flex-direction: column;
    }
    @include smartphoneMedium {
        flex-direction: column;
    }
    @include smartphoneLarge {
        flex-direction: column;
    }
}

.graphContainerTwo {
    @include smartphone {
        flex-direction: column;
    }
    @include smartphoneMedium {
        flex-direction: column;
    }
    @include smartphoneLarge {
        flex-direction: column;
    }
}
