@mixin primaryFontStyle {
    font-family: 'ZCOOL XiaoWei', serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 27px;
    font-weight: bolder;
}

@mixin pageHeading {
    font-family: 'Russo One', sans-serif;
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    padding: 5px;
    color: $mainFont;
}

@mixin introFont {
    font-family: 'ZCOOL XiaoWei', serif;
    text-align: center;
    line-height: 150%;
}

@mixin description {
    font-size: 13px;
    color: grey;
}
